* {
    background-color: rgb(180, 194, 233);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content {
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 75px;
}

header {
    display: grid;
    font-size: larger;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 30px;
    border-bottom: 1px solid rgb(102, 107, 122);
}

header a {
    margin-left: 2%;
    background-color: rgb(180, 194, 233);
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: rgb(180, 194, 233);
}

.score {
    font-size: medium;
    position: fixed;
    right: 2%;
    top: 2%;
    text-align: right;
    white-space: nowrap;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 0.5px solid rgb(102, 107, 122);
}

footer p,
footer a {
    display: inline;
    color: rgb(60, 61, 63);
}

.footertext {
    margin: 1%;
}

.nobreaks p,
.nobreaks b,
.nobreaks a {
    display: inline;
}

.question {
    background-color: rgb(221, 225, 241);
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
}

.question * {
    background-color: rgb(221, 225, 241);
    font-family: Arial, Helvetica, sans-serif;
}

.question a {
    text-decoration: underline;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
}

img {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 1%;
}

.button {
    text-decoration: none;
    color: black;
    background-color: rgb(162, 178, 222);
    border-radius: 20px;
    display: inline-block;
    padding: 8px 16px;
}

.button:hover {
    cursor: pointer;
}

.right {
    text-decoration: none;
    color: black;
    background-color: rgb(102, 199, 102);
    border-radius: 20px;
    display: inline-block;
    padding: 8px 16px;
}

.wrong {
    text-decoration: none;
    color: black;
    background-color: rgb(228, 55, 81);
    border-radius: 20px;
    display: inline-block;
    padding: 8px 16px;
}

.button:hover {
    background-color: #8da0d2;
    border-radius: 20px;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #3595cd;
    color: white;
}

.explanation-box {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: smaller;
    padding: 10px;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}