* {
    background-color: rgb(180, 194, 233);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content {
    margin-top:70px;
    margin-left: 5%;
    margin-right: 5%;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    margin-left: 2%;
}

header {
    font-size: larger;
    position: fixed;
    top:0;
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
    height:40px;
    border-bottom: 1px solid rgb(102, 107, 122);
}

footer p{
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(102, 107, 122);
}

.sitebanner {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    margin-bottom: 2%;
}
.question {
    background-color: rgb(221, 225, 241);
    padding: 2%;
    margin:2%;
    border-radius: 25px;
}

.question *{
    background-color: rgb(221, 225, 241);
    font-family: 'Courier New', Courier, monospace;
}

.question a{
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(102, 107, 122);
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(162, 178, 222);
    border-radius: 20px;

    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #8da0d2;
    border-radius: 20px;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #3595cd;
    color: white;
}